<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div align="justify" class="article-wrap">


<!--    <p align="center" class=bottom-small><img src="{{ site.url }}/images/cv/current.png" alt="" width="70" height="70"></p>-->

Most recent:
    <p align="left">&#8226 <strong>2018-</strong> Transitioning to <strong>Postdoctoral researcher</strong> in the Translational Surgical Oncology Group, at the National Center for Tumor Diseases (<a href="https://www.nct-dresden.de/en.html">NCT</a>), Partner Site Dresden, DE</p>
    <p align="left">&#8226 <strong>2014-2017</strong> PhD-candidate in Bioinformatics, Bioimaging. Bielefeld University, Biodata Mining Group, Computational Methods for the Analysis of the Diversity and Dynamics of Genomes (<a href="https//didy.uni-bielefeld.de/">DiDy</a>), German-Canadian DFG Int. Research Training Group, Bielefeld, DE</p>
    <p align="left">&#8226 <strong>2016</strong> Research exchange, University of British Columbia, <a href="http://www.cs.ubc.ca/group/infovis/">InfoVis</a> Group, Vancouver, CA.</p>
    <p align="left"></p>
    <br>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/cv/paths.png" alt="" width="70" height="70"></p>



    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
